<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Muon</title>
  <script type="text/javascript" src="d3/d3.v3.min.js"></script>
  <style>
    div.bar {
      display: inline-block;
      width: 20px;
      height: 75px;
      background-color: teal;
      margin-right: 2px;
    }
  </style>
</head>
<body>
  <%= yield %>
</body>
</html>
